<html>
	<head>
		<meta charset='utf-8'>
		<title>trader</title>
	</head>
	<body>
		<!-- 주문 -->
		<form action='/api_placeOrder' methode='get'>
			<% var selectTicker , selectPlacement , selectPlacer , inputPrice , inputSize , inputInterval ; %>
			<% if( OrderForm != null ) { %>
				<% selectTicker = OrderForm.Ticker %>
				<% selectPlacement = OrderForm.Placement %>
				<% selectPlacer = OrderForm.Placer %>
				<% inputPrice = OrderForm.Price ; %>
				<% inputSize = OrderForm.Size ; %>
				<% inputInterval = OrderForm.Interval ; %>
			<% } %>
			<p>
				<select name='Ticker'>
					<% if( ApiTicker != null ) { %>
						<% for( var Key in ApiTicker ) { %>
							<% for( var Index in ApiTicker[ Key ] ) { %>
								<% if( selectTicker == ApiTicker[ Key ][ Index ] ) { %>
									<option value=<%= ApiTicker[ Key ][ Index ] %> selected><%= ApiTicker[ Key ][ Index ] %></option>
								<% } else { %>
									<option value=<%= ApiTicker[ Key ][ Index ] %>><%= ApiTicker[ Key ][ Index ] %></option>
								<% } %>
							<% } %>
						<% } %>
					<% } %>
				</select>
				<select name='OrderPlacement'>
					<% if( selectPlacement == "LimitBuy" ) { %>
						<option value="LimitBuy" selected>지정가 매수</option>
					<% } else { %>
						<option value="LimitBuy">지정가 매수</option>
					<% } %>
					
					<% if( selectPlacement == "LimitSell" ) { %>
						<option value="LimitSell" selected>지정가 매도</option>
					<% } else { %>
						<option value="LimitSell">지정가 매도</option>
					<% } %>
					
					<% if( selectPlacement == "AutoMarketBuy" ) { %>
						<option value="AutoMarketBuy" selected>시장가 자동 매수</option>
					<% } else { %>
						<option value="AutoMarketBuy">시장가 자동 매수</option>
					<% } %>
					
					<% if( selectPlacement == "AutoMarketSell" ) { %>
						<option value="AutoMarketSell" selected>시장가 자동 매도</option>
					<% } else { %>
						<option value="AutoMarketSell">시장가 자동 매도</option>
					<% } %>
				</select>
				<select name='OrderPlacer'>
					<% if( ApiKey != null ) { %>
						<% for( var Key in ApiKey ) { %>
							<% for( var Index in ApiKey[ Key ] ) { %>
								<% if( ApiKey[ Key ][ Index ].Name != null ) { %>
									<% if( selectPlacer == ( Key + '_' + String( Index ) ) ) { %>
										<option value=<%= Key + '_' + String( Index ) %> selected><%= Key + '_' + ApiKey[ Key ][ Index ].Name %></option>
									<% } else { %>
										<option value=<%= Key + '_' + String( Index ) %>><%= Key + '_' + ApiKey[ Key ][ Index ].Name %></option>
									<% } %>
								<% } %>
							<% } %>
						<% } %>
					<% } %>
				</select>
			</p>
			<p>
				<input type="text" name="Price" placeholder="가격" value=<%= inputPrice %>>
				<input type="text" name="Size" placeholder="수량" value=<%= inputSize %>>
				<input type="text" name="Interval" placeholder="시간 간격(1초 단위)" value=<%= inputInterval %>>
				다시 한번 확인해주세요.
				<input type="submit" value="주문 실행">
			</p>
		</form>
		
		<!-- 주문 모두 취소 -->
		<br><br>
		<form action='/api_cancelAllOrders' methode='get'>
			<input type="submit" value="모든 주문 취소">
		</form>
		
		<!-- 지정가 주문 조회 -->
		<table>
			<tr>
				<th>계좌</th>
				<th>#주문번호</th>
				<th>#티커</th>
				<th>#매매</th>
				<th>#가격</th>
				<th>#수량</th>
				<td></td>
			</tr>
			<% for( var Key in ApiOrder ) { %>
				<% for( var Index in ApiOrder[ Key ] ) { %>
					<tr>
						<td><%= Key %></td>
						<td><%= ApiOrder[ Key ][ Index ][ 'Id' ] %></td>
						<td><%= ApiOrder[ Key ][ Index ][ 'Ticker' ] %></td>
						<td><%= ApiOrder[ Key ][ Index ][ 'Type' ] %></td>
						<td><%= ApiOrder[ Key ][ Index ][ 'Price' ] %></td>
						<td><%= ApiOrder[ Key ][ Index ][ 'Size' ] %></td>
						<td>
							<form action='/api_cancelOrder' +  methode='get'>
								<input type="hidden" name="OrderCancelPlacer" value=<%= Key %>>
								<input type="hidden" name="OrderId" value=<%= ApiOrder[ Key ][ Index ][ 'Id' ] %>>
								<input type="submit" value="취소">
							</form>
						</td>
					</tr>
				<% } %>
			<% } %>
		</table>
		
		<!-- 자동 시장가 주문 조회 -->
		<table>
			<tr>
				<th>계좌</th>
				<th>#티커</th>
				<th>#유형</th>
				<th>#수량</th>
				<th>#시간 간격</th>
				<th>#함수 Id</th>
				<td></td>
			</tr>
			<% for( var Key in ApiAutoOrder ) { %>
				<% if( ApiAutoOrder[ Key ] != null && ApiAutoOrder[ Key ] != undefined ) { %>
					<tr>
						<td><%= Key %></td>
						<td><%= ApiAutoOrder[ Key ][ 'Ticker' ] %></td>
						<td><%= ApiAutoOrder[ Key ][ 'Type' ] %></td>
						<td><%= ApiAutoOrder[ Key ][ 'Size' ] %></td>
						<td><%= ApiAutoOrder[ Key ][ 'Interval' ] %></td>
						<td><%= ApiAutoOrder[ Key ][ 'IntervalId' ] %></td>
						<td>
							<form action='/api_cancelOrder' +  methode='get'>
								<input type="hidden" name="OrderCancelPlacer" value=<%= Key %>>
								<input type="submit" value="취소">
							</form>
						</td>
					</tr>
				<% } %>
			<% } %>
		</table>
		
		<!-- 계좌 조회 -->
		<form action='/api_update' method='post'>
			<p><input type='submit' value='업데이트'></p>
			<% if( ApiKey != null ) { %>
				<%- ApiKey.Message.replace(/\n/g, '<br>') %>
			<% } %>
		</form>
	</body>
</html>
