<html>
	<head>
		<meta charset='utf-8'>
		<title>trader</title>
	</head>
	<body>
		<!-- 매매 -->
		<form action='/api_placeOrder' methode='post'>
			<p>
				<input type="text" name="Price" placeholder="가격">
				<input type="text" name="Size" placeholder="수량">
				<input type="text" name="Interval" placeholder="시간 간격(1초 단위)">
			</p>
			<p>
				<select id='OrderType'>
					<option value="Limit">지정가</option>
					<option value="Market">시장가</option>
				</select>
				<select id='OrderFlag'>
					<option value="Buy">매수</option>
					<option value="Sell">매도</option>
				</select>
				<select id='OrderPlaceType'>
					<option value="Instant">한번 주문</option>
					<option value="IntervalTime">시간 차 자동 주문</option>
				</select>
				<select id='OrderPlacer'>
					<% if( ApiObject != null ) { %>
						<% for( var Index in ApiObject.Upbit ) { %>
							<% if( ApiObject.Upbit[ Index ].Name != null ) { %>
								<option value=<%= 'Upbit_' + String( Index ) %>><%= 'Upbit_' + ApiObject.Upbit[ Index ].Name %></option>
							<% } %>
						<% } %>
						<% for( var Index in ApiObject.Bitstamp ) { %>
							<% if( ApiObject.Bitstamp[ Index ].Name != null ) { %>
								<option value=<%= 'Bitstamp_' + String( Index ) %>><%= 'Bitstamp_' + ApiObject.Bitstamp[ Index ].Name %></option>
							<% } %>
						<% } %>
					<% } %>
				</select>
				다시 한번 확인해주세요.
				<input type="submit" value="실행">
			</p>
		</form>
		
		<!-- 계좌 조회 -->
		<form action='/api_update' method='post'>
			<p><input type='submit' value='업데이트'></p>
		</form>
		<table>
			<tr>
				<td>X</td>
				<th>#화폐</th>
				<th>#수량</th>
				<th>#잠긴 수량</th>
				<th>#매수 평균가</th>
			</tr>
			<% if( ApiObject != null ) { %>
				<% for( var Index in ApiObject.Upbit ) { %>
					<% if( ApiObject.Upbit[ Index ].Name != null ) { %>
						<tr>
							<td>Upbit</td> <td colspan="4" style="text-align : center ;"><%= ApiObject.Upbit[ Index ].Name %></td>
						</tr>
					<% } %>
					<% for( var AccountIndex in ApiObject.Upbit[ Index ].AccountInfo ) { %>
						<% if( ApiObject.Upbit[ Index ].AccountInfo != null ) { %>
							<tr>
								<td></td>
								<td><%= ApiObject.Upbit[ Index ].AccountInfo[ AccountIndex ].currency %></td>
								<td><%= ApiObject.Upbit[ Index ].AccountInfo[ AccountIndex ].balance %></td>
								<td><%= ApiObject.Upbit[ Index ].AccountInfo[ AccountIndex ].locked %></td>
								<td><%= ApiObject.Upbit[ Index ].AccountInfo[ AccountIndex ].avg_buy_price %></td>
							</tr>
						<% } %>
					<% } %>
				<% } %>
				
				<% for( var Index in ApiObject.Bitstamp ) { %>
					<% if( ApiObject.Bitstamp[ Index ].Name != null ) { %>
						<tr>
							<td>Bitstamp</td> <td colspan="4" style="text-align : center ;"><%= ApiObject.Bitstamp[ Index ].Name %></td>
						</tr>
					<% } %>
					<% for( var AccountIndex in ApiObject.Bitstamp[ Index ].AccountInfo ) { %>
						<% if( ApiObject.Bitstamp[ Index ].AccountInfo != null ) { %>
							<tr>
								<td></td>
								<td><%= ApiObject.Bitstamp[ Index ].AccountInfo[ AccountIndex ].Ticker %></td>
								<td><%= ApiObject.Bitstamp[ Index ].AccountInfo[ AccountIndex ].Balance %></td>
								<td><%= ApiObject.Bitstamp[ Index ].AccountInfo[ AccountIndex ].Locked %></td>
								<td></td>
							</tr>
						<% } %>
					<% } %>
				<% } %>
			<% } %>
		</table>
		
	</body>
</html>
