<html>
	<head>
		<meta charset='utf-8'>
		<title>trader</title>
	</head>
	<body>
		<!-- 주문 -->
		<form action='/api_placeOrder' methode='get'>
			<p>
				<input type="text" name="Price" placeholder="가격">
				<input type="text" name="Size" placeholder="수량">
				<input type="text" name="Interval" placeholder="시간 간격(1초 단위)">
			</p>
			<p>
				<select name='OrderPlacement'>
					<option value="LimitBuy">지정가 매수</option>
					<option value="LimitSell">지정가 매도</option>
					<option value="AutoMarketBuy">시장가 자동 매수</option>
					<option value="AutoMarketSell">시장가 자동 매도</option>
				</select>
				<select name='OrderPlacer'>
					<% if( ApiObject != null ) { %>
						<% for( var Index in ApiObject.Upbit ) { %>
							<% if( ApiObject.Upbit[ Index ].Name != null ) { %>
								<option value=<%= 'Upbit_' + String( Index ) + '_' + String( Index ) %>><%= 'Upbit_' + ApiObject.Upbit[ Index ].Name %></option>
							<% } %>
						<% } %>
						<% for( var Index in ApiObject.Bitstamp ) { %>
							<% if( ApiObject.Bitstamp[ Index ].Name != null ) { %>
								<option value=<%= 'Bitstamp_' + String( Index ) + '_' + String( Index ) %>><%= 'Bitstamp_' + ApiObject.Bitstamp[ Index ].Name %></option>
							<% } %>
						<% } %>
					<% } %>
				</select>
				다시 한번 확인해주세요.
				<input type="submit" value="주문 실행">
			</p>
		</form>
		
		<!-- 주문 모두 취소 -->
		<br><br>
		<form action='/api_cancelAllOrders' methode='get'>
			<input type="submit" value="모든 주문 취소">
		</form>
		
		<!-- 주문 조회 -->
		<table>
			<tr>
				<th>계좌</th>
				<th>#매매</th>
				<th>#가격</th>
				<th>#수량</th>
				<th>#시간 간격</th>
				<td></td>
			</tr>
			<% if( ApiObject != null ) { %>
				<% for( var Key in ApiObject ) { %>
					<% for( var Index in ApiObject[ Key ] ) { %>
						<% if( ApiObject[ Key ][ Index ].Name != null ) { %>
							<% if( ApiObject[ Key ][ Index ].Order != null ) { %>
								<tr>
									<td><%= Key + '_' + ApiObject[ Key ][ Index ].Name %></td>
									<td><%= ApiObject[ Key ][ Index ].Order.Placement %></td>
									<td><%= ApiObject[ Key ][ Index ].Order.Price %></td>
									<td><%= ApiObject[ Key ][ Index ].Order.Size %></td>
									<td><%= ApiObject[ Key ][ Index ].Order.Interval %></td>
									<td>
										<form action='/api_cancelOrder' +  methode='get'>
											<input type="hidden" name="CancelPlacer" value=<%= Key + '_' + String( Index ) %>> 
											<input type="submit" value="취소">
										</form>
									</td>
								</tr>
							<% } %>
						<% } %>
					<% } %>
				<% } %>
			<% } %>
		</table>
		
		<!-- 계좌 조회 -->
		<form action='/api_update' method='post'>
			<p><input type='submit' value='업데이트'></p>
			<% if( ApiObject != null ) { %>
				<%- ApiObject.Message.replace(/\n/g, '<br>') %>
			<% } %>
		</form>
	</body>
</html>
